@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using Services
@inject NavigationManager Navigation
@inject AuthenticationStateProvider AuthProvider
@inject IJSRuntime JS

<AuthorizeView>
    <Authorized>
            Hej @context.User.FindFirst("firstName")?.Value
        @* Hej, @context.User.Identity?.Name! *@
        
        @* <button class="nav-link btn btn-link" @onclick="BeginLogOut">Logga ut</button> *@
    </Authorized>
    <NotAuthorized>
        @* <a href="login">Logga in</a> *@
    </NotAuthorized>
</AuthorizeView>

@code{
    // private readonly DemoAuthenticationStateProvider _authState;
    // public LoginDisplay(DemoAuthenticationStateProvider authState)
    // {
    //     _authState = authState;
    // }
    public async Task BeginLogOut()
    {
        // 1. Remove token
        await JS.InvokeVoidAsync("localStorage.removeItem", "authToken");

        // 2. Notify system
        ((Services.CustomAuthStateProvider)AuthProvider).NotifyUserLogout();

        // 3. Redirect
        Navigation.NavigateTo("/login", forceLoad: true);
        // Navigation.NavigateToLogout("authentication/logout");
    }

}
