@inherits LayoutComponentBase
@inject IJSRuntime JS

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4 auth bg-info-subtle">
            <LoginDisplay />
            @* <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">Om</a> *@
        </div>

        <article class="content px-4 pb-5">
            @Body
        </article>
    </main>
    
</div>
<div class="bot-row ps-3 p-5 bg-secondary position-relative" style="height: 120px">
    </div>
@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await JS.InvokeVoidAsync("cleanupQuillToolbars");
    }
}