@using Aufguss.Models
@using Aufguss.Services.Interface

@page "/About"

<div class="card m-2 card-width mt-5">
    <h2 class="ms-5 fw-bold">Om Aufguss</h2>
    <div class="card-body  rounded rounded-5">
        @if (!string.IsNullOrEmpty(fileLocation))
        {
            @* <img src="@($"{fileLocation}aufguss 2.jpg")" *@
            <img src="images/aufguss.jpg" alt="Aufguss"
                 class="img-fluid float-start me-3 mb-2 p-4 rounded rounded-5"
                 style="max-width: 50vw;" />
        }

        <p class="card-text p-4">
            Relax i bastu med härliga dofter och svepande värme. Flera tillfällen under året bjuder vi in till aufguss i vår sköna bastu.
            <br /><br />
            <strong>För dig som bastar:</strong><br />
            - Inga badkläder i bastun<br />
            - Sitt på egen handduk<br />
            - Duscha innan du går in i bastun<br />
            - Tänk på att dricka vatten<br />
            <br />
            Aufguss är en tysk bastukultur som letat sig in i Sverige under senare tid. Ordet betyder ungefär "hälla på". En bastuvärd häller på underbart väldoftande eteriska oljor och vatten över heta stenar. Värmen viftas sedan omkring så att den mjukt sprider sig i bastun. <br /><br />
            En vanlig sittning brukar vara mellan 5 och 15 minuter och har ofta olika teman. Flera tillfällen under året bjuder vi in till aufguss i vår sköna bastu, en härlig avkoppling till olika dofter. Vi använder eteriska oljor som har olika bra egenskaper för kropp och sinne.<br /><br />

            Medtag egen vattenflaska och drick ordentligt både innan, under tiden och efteråt då du svettas ut mycket vätska. Aufguss ingår i priset för bad- och gym-kort.
        </p>
    </div>
</div>

<br />
<br />
<br />
<div class="card">
<h3 class="m-3">Frågor och svar</h3>

@if (faqs == null)
{
    <p><em>Laddar...</em></p>
}

else
{
    <div id="faqAccordion" class="accordion">
        @foreach (var faq in faqs)
        {
            <div class="d-flex flex-column flex-md-row align-items-stretch mb-3 w-100">

                <!-- Accordion Item -->
                <div class="accordion-item flex-grow-1 rounded" data-id="@faq.Id">
                    <div class="accordion-header d-flex align-items-center" style="user-select:none;">
                        <div class="drag-handle me-2 bg-info-subtle rounded p-3"
                             style="cursor: grab; padding: 0 8px;"
                        @onclick:stopPropagation
                        @onmousedown:stopPropagation>
                            ☰
                        </div>
                        <button class="accordion-button collapsed flex-grow-1"
                                type="button"
                                data-bs-toggle="collapse"
                                data-bs-target="#collapse-@faq.Id"
                                aria-expanded="false"
                                aria-controls="collapse-@faq.Id">
                            @faq.Question
                        </button>
                    </div>

                    <div id="collapse-@faq.Id"
                         class="accordion-collapse collapse"
                         aria-labelledby="heading-@faq.Id"
                         data-bs-parent="#faqAccordion">
                        <div class="accordion-body">
                            @faq.Answer
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
}
</div>
@inject HttpClient Http
@inject IFaqService FaqService

@code {
    private string fileLocation = string.Empty;

    private List<Faq>? faqs;

    protected override async Task OnInitializedAsync()
    {
        faqs = await FaqService.GetFaqsAsync();
        fileLocation = new Uri(Http.BaseAddress, "api/upload/").ToString();
    }
}
