@page "/Admin"
@* @attribute [Authorize]  *@

<h3>Admin</h3>

<p>Här är tanken att Linus och Moa ska kunna:</p>
<p> - Skapa bokningar </p>
<p> - Ändra bokningar </p>
<p> - Se anmälda deltagare </p>
<p> - Lägga till/ta bort en nyhet(?)</p>
<p> - Se feedback(?)</p>
<p> - Skapa fler admin-användare </p>
<p> - Bekräfta närvaro(?) </p>

@code {

}
