@page "/"
@using Aufguss.Models
@using Aufguss.Services
@using Aufguss.Services.Interface

<PageTitle>Startsida</PageTitle>



<h1 class="m-2 fw-bold">Aktuellt på Freja Bad & Gym</h1>

@if(entries == null)
{
    <p><em>Laddar...</em></p>
}

else
{
    foreach(var entry in entries)
    {
        <div class="card mt-5 p-3">
            <h2 class=" rounded rounded-4  m-4">@entry.Title</h2>
            <img class="card-img-top p-4 rounded rounded-5" src="@entry.Image" />
            <div class="card-body">
                <p class="card-text linebreak m-2">@entry.Description</p>
                @if (!string.IsNullOrEmpty(entry.Url))
                {
                    <button class="btn btn-primary m-2" @onclick="async () => await BookEvent(entry.Url)">Boka</button>
                }
            </div>
            <p class="card-footer m-4 rounded bg-body-tertiary">Publicerad: @entry.CreatedAt.ToString("dd/MM/yyyy | HH:mm")</p>
        </div>
    }
}


@inject HttpClient Http
@inject NavigationManager NavManager
@inject IEntryService EntryService
@inject ISettingsService SettingsService

@code {
    private List<Entry>? entries;
    private SiteSettings siteSettings = new();
    private string imagePathFromDb = "";
    private string fileLocation = "";


    protected override async Task OnInitializedAsync()
    {
        siteSettings = await SettingsService.GetSettingsAsync();
        var allEntries = await EntryService.GetEntriesAsync();

        if (allEntries != null)
        {
            entries = allEntries
                .OrderByDescending(e => e.CreatedAt)
                .Take(siteSettings.MaxNews)
                .ToList();
        }
        else
        {
            entries = new List<Entry>();
        }

        fileLocation = new Uri(Http.BaseAddress, "api/upload/").ToString();
    }

    private async Task BookEvent(string id)
    {
        NavManager.NavigateTo($"/BokaAufguss/Book/{id}");
    }
}