@page "/Inställningar"
@attribute [Authorize(Roles = "Admin,SuperAdmin")]
@using Aufguss.Models
@using System.Text.Json.Nodes

<div class="card">
<h3 class="mb-5">Ändra inställningar</h3>

<EditForm Model="SiteSettingsData" OnValidSubmit="SaveSettings">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="row mb-3">
        <label class="col-md-2 col-form-label">Max nyheter på startsidan</label>
        <div class="col-md-4">
            <InputNumber class="form-control" @bind-Value="SiteSettingsData.MaxNews" />
            <ValidationMessage For="@(() => SiteSettingsData.MaxNews)" />
        </div>
    </div>

    <h3>Aufguss</h3>



    <div class="row mb-3">
        <label class="col-md-2 col-form-label">Max bokningar aufguss</label>
        <div class="col-md-4">
            <InputNumber class="form-control" @bind-Value="SiteSettingsData.MaxBookingsAufguss" />
            <ValidationMessage For="@(() => SiteSettingsData.MaxBookingsAufguss)" />
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-md-2 col-form-label">Dagar innan dold bokning blir synlig</label>
        <div class="col-md-4">
            <InputNumber class="form-control" @bind-Value="SiteSettingsData.AufgussHiddenDaysInAdvance" />
            <ValidationMessage For="@(() => SiteSettingsData.AufgussHiddenDaysInAdvance)" />
        </div>
    </div>

    <div class="row">
        <div class="offset-md-2 col-md-2 d-grid">
            <button type="submit" class="btn btn-primary">Spara inställningar</button>
        </div>
    </div>
</EditForm>
</div>
@inject HttpClient Http
@inject IHttpClientFactory HttpClientFactory
@inject NavigationManager navManager
@inject SweetAlertService Swal
@inject IJSRuntime JSRuntime
@inject ISettingsService SettingsService

@code {
    public JsonNode Errors { get; set; } = new JsonObject();
    private List<string> ImageOptions = new();
    private string SelectedImageUrl;
    private bool ImageSelected = false;
    private string fileLocation = "";

    private void OnImageSelect(ChangeEventArgs e)
    {
        SelectedImageUrl = e.Value?.ToString();
        ImageSelected = true;
    }

    private SiteSettings SiteSettingsData = new();

    protected override async Task OnInitializedAsync()
    {
        fileLocation = new Uri(Http.BaseAddress, "api/upload/").ToString();
        SiteSettingsData = await SettingsService.GetSettingsAsync();
    }

    private async Task SaveSettings()
    {
        try
        {
            await SettingsService.EditSettingsAsync(SiteSettingsData);
            await JSRuntime.InvokeVoidAsync("Swal.fire", "Ändrat", "Inställningarna är nu ändrade", "success");
        }
        catch (Exception ex)
            {
                Console.WriteLine("Exception: " + ex.Message);
                await JSRuntime.InvokeVoidAsync("Swal.fire", "Misslyckades", "Inställningarna gick inte att ändra", "error");
            }
    }
}
